{% extends 'dashboard_base.html' %}

{% block content %}

    <div id="data">
        <div class="searchbar">
            <form action="" method="GET">
                <div class="formblock">
                    <div class="field">
                        <input type="text" id="title" class="inp" value="{{request.GET.title}}" name="title" placeholder="    Search Bar">
                    </div>
            
                    <div class="field">
                        <input type="submit" id="sub" value="Search">
                    </div>
        
                </div>
                
            </form>
        </div>
        {% if recp %}
        {% for i in recp %}

        <div class="card">

            <div id="c1" class="c">
                <div class="imag"><img src="{{i.recp_img.url}}" alt=""></div>
                
            </div>
            <div id="c2" class="c">
                <h1>{{i.title}}</h1>
                <div class="urls">
                    <a href="{%url 'view_recp' i.id%}"> VIEW </a>
                    <a href="{%url 'update_recipe' i.id%}"> UPDATE </a>
                    <a href="{%url 'delete_recipe' i.id%}"> DELETE </a>
                </div>
                
            </div>


        </div>

        {%endfor%}

        <div class="pagination">
            <span class="step-links">

                {% if recp.has_previous %}
                    <a class="page-link" href="?page=1&title={{request.GET.title}}">&laquo; first</a>
                    <a class="page-link" href="?page={{ recp.previous_page_number }}&title={{request.GET.title}}">previous</a>
                {% endif %}
        
                {% for num in recp.paginator.page_range %}
                    {% if recp.number == num %}
                        <span class="current">{{ num }}</span>
                    {% else %}
                        <a class="page-link" href="?page={{ num }}&title={{request.GET.title}}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
        
                {% if recp.has_next %}
                    <a class="page-link" href="?page={{ recp.next_page_number }}&title={{request.GET.title}}">next</a>
                    <a class="page-link" href="?page={{ recp.paginator.num_pages }}&title={{request.GET.title}}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% else %}

        <h3 style="position:relative;font-size: 15px;color: rgb(255, 255, 255);text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);font-size:35px; ">NO RECIPES FOUND</h3>

        {%endif%}

    </div>
    
{% endblock %}
